trigger:
  branches:
    include:
    - master
    - features/*
  paths:
    include:
    - src/Databases/NCNEWorkflowDatabase*

pr:
  branches:
    include:
    - master
  paths:
    include:
    - src/Databases/NCNEWorkflowDatabase*
    
stages:
- stage: Build
  jobs:
    - job: RestoreBuildAndDeploy
      pool: "UKHO Windows 2019"

      workspace:
          clean: all

      steps:
      - task: UseDotNet@2
        displayName: 'Use .NET Core 3.1 sdk'
        inputs:
          packageType: sdk
          version: 3.1.x
          installationPath: $(Agent.ToolsDirectory)\\dotnet       

      - task: VSBuild@1
        inputs:
          solution: '$(Build.SourcesDirectory)\\src\\Databases\\NCNEWorkflowDatabase\\NCNEWorkflowDatabase.sqlproj'
          msbuildArgs: /t:Build;Publish /p:SqlPublishProfilePath=NCNEWorkflowDatabase.publish.xml
        displayName: 'Build NCNE WorkflowDatabase and publish to LocalDb'

      - task: DotNetCoreCLI@2
        inputs:
          command: 'test'
          projects: '$(Build.SourcesDirectory)\\src\\Databases\\NCNEWorkflowDatabase.Tests\\NCNEWorkflowDatabase.Tests.csproj'
        displayName: 'dotnet NCNE test LocalDb instance of database'

      - task: VSBuild@1
        inputs:
          solution: '$(Build.SourcesDirectory)\\src\\Databases\\NCNEWorkflowDatabase\\NCNEWorkflowDatabase.sqlproj'
        displayName: 'Build NCNE WorkflowDatabase Dacpac'

      - task: PublishBuildArtifacts@1
        inputs:
          PathtoPublish: '$(Build.SourcesDirectory)\\src\\Databases\\NCNEWorkflowDatabase\\bin\\debug\\NCNEWorkflowDatabase.dacpac'
          ArtifactName: 'ncneworkflowdatabase'
          publishLocation: 'Container'
        displayName: 'Publish NCNE WorkflowDatabase'

- stage: DeployDev
  dependsOn: Build
  jobs:
    - deployment: DeployNCNEWorkflowDatabaseDev
      displayName: Deploy NCNEWorkflowDatabase
      pool: "NautilusRelease"
      environment: 'TaskmanagerDev'
      strategy:
        runOnce:
          deploy:
            steps:
              - task: SqlAzureDacpacDeployment@1
                inputs:
                  # azureSubscription: 'TM2 Dev/Test Sub Dev RG'
                  AuthenticationType: aadAuthenticationPassword
                  azureSubscription: 'SharedServicesPre'
                  ServerName: '$(ServerNameDev)'
                  DatabaseName: '$(DatabaseNameDev)'
                  aadSqlUsername: '$(SQLUsernameDev)'
                  aadSqlPassword: '$(SQLPasswordDev)'
                  DacpacFile: '$(Pipeline.Workspace)/ncneworkflowdatabase/NCNEWorkflowDatabase.dacpac'

- stage: DeployUAT
  dependsOn: Build
  jobs:
    - deployment: DeployNCNEWorkflowDatabaseUAT
      displayName: Deploy NCNEWorkflowDatabase
      pool: "NautilusRelease"
      environment: 'TaskmanagerUAT'
      strategy:
        runOnce:
          deploy:
            steps:
              - task: SqlAzureDacpacDeployment@1
                inputs:
                  # azureSubscription: 'TM2 Dev/Test Sub Dev RG'
                  AuthenticationType: aadAuthenticationPassword
                  azureSubscription: 'SharedServicesPre'
                  ServerName: '$(ServerNameUAT)'
                  DatabaseName: '$(DatabaseNameUAT)'
                  aadSqlUsername: '$(SQLUsernameUAT)'
                  aadSqlPassword: '$(SQLPasswordUAT)'
                  DacpacFile: '$(Pipeline.Workspace)/ncneworkflowdatabase/NCNEWorkflowDatabase.dacpac'

- stage: DeployPre
  dependsOn: Build
  jobs:
    - deployment: DeployNCNEWorkflowDatabasePre
      displayName: Deploy NCNEWorkflowDatabase
      pool: "NautilusRelease"
      environment: 'TaskmanagerPre'
      strategy:
        runOnce:
          deploy:
            steps:
              - task: SqlAzureDacpacDeployment@1
                inputs:
                  # azureSubscription: 'TM2 Dev/Test Sub Dev RG'
                  AuthenticationType: aadAuthenticationPassword
                  azureSubscription: 'SharedServicesPre'
                  ServerName: '$(ServerNamePre)'
                  DatabaseName: '$(DatabaseNamePre)'
                  aadSqlUsername: '$(SQLUsernamePre)'
                  aadSqlPassword: '$(SQLPasswordPre)'
                  DacpacFile: '$(Pipeline.Workspace)/ncneworkflowdatabase/NCNEWorkflowDatabase.dacpac'

- stage: DeployPrd
  dependsOn: Build
  jobs:
    - deployment: DeployNCNEWorkflowDatabasePrd
      displayName: Deploy NCNEWorkflowDatabase
      pool: "NautilusRelease"
      environment: 'TaskmanagerPrd'
      strategy:
        runOnce:
          deploy:
            steps:
              - task: SqlAzureDacpacDeployment@1
                inputs:
                  # azureSubscription: 'TM2 Dev/Test Sub Dev RG'
                  AuthenticationType: aadAuthenticationPassword
                  azureSubscription: 'SharedServicesPrd'
                  ServerName: '$(ServerNamePrd)'
                  DatabaseName: '$(DatabaseNamePrd)'
                  aadSqlUsername: '$(SQLUsernamePrd)'
                  aadSqlPassword: '$(SQLPasswordPrd)'
                  DacpacFile: '$(Pipeline.Workspace)/ncneworkflowdatabase/NCNEWorkflowDatabase.dacpac'
