<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="PermittedRoles" value="roleHere"/>
    <add key="FilestorePath" value="pathHere"/>
    <add key="ContentServiceBaseUrl" value="urlHere"/>
    <add key="ContentServiceUsername" value="username"/>
    <add key="ContentServicePassword" value="pwd"/>
  </appSettings>

</configuration>