/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

/* Footer start */
footer {
    bottom: 0;
    width: 100%;
    font-size: 16px;
    color: #09315B;
    background-color: #b3bcc8;
    font-weight: normal;
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    margin-top: 60px;
}

@media (max-width: 1023px) {
    footer {
        font-size: 14px;
        height: 40px;
        line-height: 40px;
        padding: 0 10px;
    }
}

body, .sticky-footer-wrapper {
    min-height: 100vh;
}

.flex-fill {
    flex: 1 1 auto;
}

.versioning {
    text-align: right;
    font-size: 11px;
}

/* Site link colour has reduced contrast over footer */
.versioning a {
    color: #09315B;
    text-decoration: underline;
}
/* Footer end */
