@page
@model Portal.Pages.DbAssessment._CommentsModel

@{ Layout = null; }


<div class="card">
    <h6>Comments</h6>
    <div class="card-body">
        @if (Model != null && Model.Comments != null)
        {
            @foreach (var comment in Model.Comments)
            {
                <div class="row justify-content-between mb-3">
                    <div class="col-6">
                        @comment.Username
                    </div>
                    <div class="col-6">
                        <div class="row justify-content-end mr-1">
                            @comment.Created.ToString("M")
                        </div>
                    </div>
                </div>
                <div class="row justify-content-start">
                    <div class="col-12">
                        <p>
                            @comment.Text
                        </p>
                        <hr />
                    </div>
                </div>
            }
        }
        <button id="btnAddComment" class="btn btn-primary" type="button"><span style="padding-right: 5px;"></span>Add Comment</button>

        @* Modal Add new comment *@
        <div class="modal fade" data-backdrop="static" data-keyboard="false" id="addCommentModal" tabindex="-1" role="dialog" aria-labelledby="AddComment" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add Comment</h4>
                    </div>
                    <div class="modal-body">
                        <div id="modal-body">
                            <textarea style="height: 100px;" id="txtComment" name="comment" class="form-control"></textarea>
                            <br />
                            <div id="AddCommentError"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row col-11 justify-content-end">
                            <div class="col-5 pr-1"><button type="button" id="btnCloseComment" class="btn btn-outline-secondary btn-block" accesskey="c" data-dismiss="modal" data-toggle="tooltip" data-placement="left" title="Close this popup">Close</button></div>
                            <div class="col-5 pl-1 pr-0"><button type="button" id="btnPostComment" accesskey="a" class="btn btn-primary btn-block" data-toggle="tooltip" data-placement="left" title="Submit comment">Add comment</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>