@page

@model Portal.Pages.DbAssessment._EditDatabaseModel

@{ Layout = null; }

<div class="card mb-4">
    <h6>
        <span>Edit Database</span>
    </h6>
    <div class="col-12">
        <div class="card-body p-0">
            <div class="row justify-content-between">
                <div class="col-8">
                    <div class="form-row align-items-center justify-content-start">
                        <div class="col-4 align-self-start">@Html.LabelFor(model => model.SelectedCarisWorkspace, new { @class = "col-form-label" })</div>
                        <div class="col-8">
                            <div id="gregtest">
                                <input type="text" class="typeahead tt-query form-text-input" autocomplete="off" spellcheck="false">

                                <script type="text/javascript">
                                    $(document).ready(function () {
                                        // Defining the local dataset
                                        var cars = [];
                                        for (var i = 0; i < 20000; i++) {
                                            cars[i] = "test_" + i;
                                        }

                                        // Constructing the suggestion engine
                                        var cars = new Bloodhound({
                                            datumTokenizer: Bloodhound.tokenizers.whitespace,
                                            queryTokenizer: Bloodhound.tokenizers.whitespace,
                                            local: cars
                                        });

                                        // Initializing the typeahead
                                        $('.typeahead').typeahead({
                                            hint: true,
                                            highlight: true, /* Enable substring highlighting */

                                            minLength:
                                                3 /* Specify minimum characters required for showing result */
                                        },
                                            {
                                                name: 'cars',
                                                source: cars,
                                                limit: 100,
                                                templates: {
                                                    notFound: '<div>No results</div>'
                                                }
                                            });
                                    });
                                </script>

                                <style type="text/css">
                                    .bs-example {
                                        font-family: sans-serif;
                                        position: relative;
                                        margin: 100px;
                                    }

                                    .typeahead, .tt-query, .tt-hint {
                                        border: 2px solid #CCCCCC;
                                        border-radius: 8px;
                                        font-size: 22px; /* Set input font size */
                                        height: 30px;
                                        line-height: 30px;
                                        outline: medium none;
                                        padding: 8px 12px;
                                        width: 396px;
                                    }

                                    .typeahead {
                                        background-color: #FFFFFF;
                                    }

                                        .typeahead:focus {
                                            border: 2px solid #0097CF;
                                        }

                                    .tt-query {
                                        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
                                    }

                                    .tt-hint {
                                        color: #999999;
                                    }

                                    .tt-menu {
                                        background-color: #FFFFFF;
                                        border: 1px solid rgba(0, 0, 0, 0.2);
                                        border-radius: 8px;
                                        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
                                        margin-top: 12px;
                                        padding: 8px 0;
                                        width: 422px;
                                    }

                                    .tt-suggestion {
                                        font-size: 22px; /* Set suggestion dropdown font size */
                                        padding: 3px 20px;
                                    }

                                        .tt-suggestion:hover {
                                            cursor: pointer;
                                            background-color: #0097CF;
                                            color: #FFFFFF;
                                        }

                                        .tt-suggestion p {
                                            margin: 0;
                                        }

                                    .tt-menu {
                                        max-height: 150px;
                                        overflow-y: auto;
                                    }
                                </style>

                            </div>
                            @*@Html.TextBoxFor(model => model.SelectedCarisWorkspace, new {@class = "form-control"})*@
                            <div class="alert alert-danger mt-2" role="alert" @(Model.CachedHpdWorkspaces == null || Model.CachedHpdWorkspaces.Count == 0 ? "" : "hidden")>Failed to load Workspaces from CARIS.</div>
                        </div>
                    </div>
                    <div class="form-row align-items-center justify-content-center">
                        <div class="col-4">@Html.LabelFor(model => model.ProjectName, new { @class = "col-form-label" })</div>
                        <div class="col-8">@Html.TextBoxFor(model => model.ProjectName, new { @class = "form-control" })</div>
                    </div>
                    <div class="row justify-content-start">
                        <div class="col-4"><button class="btn btn-primary" type="button">Create CARIS Project</button></div>
                        <div class="col-8 pl-2"><button class="btn btn-primary" type="button">Launch CARIS Source Editor</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
