@page

@model Portal.Pages.DbAssessment._EditDatabaseModel

@{ Layout = null; }

<div class="card mb-4">
    <h6>
        <span>Edit Database</span>
    </h6>
    <div class="col-12">
        <div class="card-body p-0">
            <div class="row justify-content-between">
                <div class="col-8">
                    <div class="form-row align-items-center justify-content-start">
                        <div class="col-4 align-self-start">@Html.LabelFor(model => model.SelectedCarisWorkspace, new { @class = "col-form-label" })</div>
                        <div class="col-8">
                            <div id="workspacesTypeahead">
                                <div class="text-input-wrap">
                                    <input type="text" class="typeahead tt-query form-text-input" autocomplete="off" spellcheck="false">
                                </div>
                                <section class="dialog error collapse mt-3" id="workspaceTypeaheadError">
                                    <h5>
                                        <i class="fas fa-times-circle" style="font-size: 1.25rem;"></i>
                                        <span>Failed to retrieve list of workspaces from server</span>
                                    </h5>
                                </section>
                            </div>
                        </div>
                    </div>
                    <div class="form-row align-items-center justify-content-center">
                        <div class="col-4">@Html.LabelFor(model => model.ProjectName, new { @class = "col-form-label" })</div>
                        <div class="col-8">@Html.TextBoxFor(model => model.ProjectName, new { @class = "form-control form-text-input" })</div>
                    </div>
                    <div class="row justify-content-start">
                        <div class="col-4"><button class="btn btn-primary" type="button">Create CARIS Project</button></div>
                        <div class="col-8 pl-2">
                            <a id="launchSourceEditorLink" class="btn btn-primary" download>Launch CARIS Source Editor</a>
                        </div>
                    </div>
                    <div id="launchSourceEditorError"></div>
                </div>
            </div>
        </div>
    </div>
</div>
