@model Portal.Pages.DbAssessment._SourceDocumentDetailsModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="panel panel-default">
    <div class="panel-heading">
        <span>Source Document Details</span>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">RSDRA</th>
                <th scope="col">SDOC ID</th>
                <th scope="col">Source Name</th>
                <th scope="col">Receipt Date</th>
                <th scope="col">Doc Type</th>
                <th scope="col">Datum</th>
                <th scope="col">Source Type</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr data-toggle="collapse" data-target=".order1">
                <th><i class="fa fa-plus"></i></th>
                <th>2019123456789</th>
                <td id="rows">194987</td>
                <td>19_190_HDB_OWP_TEST</td>
                <td>09/09/2019</td>
                <td>Chart Panel Navigational</td>
                <td></td>
                <td>SEP</td>
                <td></td>
            </tr>
                <tr class="collapse order1">
                    <th></th>
                    <td></td>
                    <td>TM_Test_Run</td>
                    <td>11/09/2019</td>
                    <td></td>
                    <td></td>
                    <td>Forward</td>
                    <td><i class="fa fa-times-circle" style="color:red"></i></td>
                </tr>
                <tr class="collapse order1">
                    <th></th>
                    <td></td>
                    <td>HDB_Test_Run</td>
                    <td>09/09/2019</td>
                    <td></td>
                    <td></td>
                    <td>SEP</td>
                    <td></td>
                </tr>
                <tr data-toggle="collapse" data-target=".order2">
                    <th><i class="fa fa-plus"></i></th>
                    <th scope="row">201943734354</th>
                    <td>194110</td>
                    <td>19_221_TM_REVIEW_TEST</td>
                    <td>11/10/2019</td>
                    <td>Chart Panel Navigational or Repromat</td>
                    <td></td>
                    <td>SEP</td>
                    <td></td>
                </tr>
                <tr class="collapse order2">
                    <th scope="row"></th>
                    <td></td>
                    <td>TM_Test_Run</td>
                    <td>11/09/2019</td>
                    <td></td>
                    <td></td>
                    <td>Forward</td>
                    <td></td>
                </tr>
                <tr class="collapse order2">
                    <th scope="row"></th>
                    <td></td>
                    <td>HDB_Test_Run</td>
                    <td>09/09/2019</td>
                    <td></td>
                    <td></td>
                    <td>SEP</td>
                    <td><i class="fa fa-times-circle" style="color:red"></i></td>
                </tr>
            </tbody>
        </table>
        <button id="btnAddSource" class="btn btn-primary"><span style="padding-right: 5px;"></span>Add Source</button>
    </div>
</div>