@page
@using WorkflowDatabase.EF
@model Portal.Pages.DbAssessment.ReviewModel
@{
    ViewData["Title"] = "Review";
}

<script type="text/javascript" src="~/js/Review.js"></script>
<script type="text/javascript" src="~/js/TaskInformation.js"></script>
<script type="text/javascript" src="~/js/_SourceDocumentDetails.js"></script>
<script type="text/javascript" src="~/js/AssignTask.js"></script>
<script type="text/javascript" src="~/js/Comments.js"></script>

<div class="row mt-1">
    <div class="col-4">
        <a asp-page="/Index">
            <img id="ukhoLogo" src="~/images/ukhologo.svg" class="img-responsive" alt="UKHO Logo" />
        </a>
    </div>

    <div class="col-8">
        <div class="row pt-2">
            <div class="col-6">
                <div class="float-right">
                    <h1>DB Assessment</h1>
                </div>
            </div>
            <div class="col-6">
                <div class="float-right">
                    <h1>Review</h1>
                </div>
            </div>
        </div>
    </div>

</div>

<hr />
<div class="col-12">
    <div class="row justify-content-end btn-size">
        <div id="putOnHold" class="col-2" @(Model.IsOnHold ? "hidden" : "")>
            <button id="btnPutOnHold" type="button" class="btn btn-primary btn-block">Put On Hold</button>
        </div>
        <div id="takeOffHold" class="col-2" @(Model.IsOnHold ? "" : "hidden")>
            <button id="btnTakeOffHold" type="button" class="btn btn-primary btn-block">Take Off Hold</button>
        </div>

        <div class="col-2"><button id="btnTerminate" class="btn btn-primary btn-block">Terminate</button></div>
        <div class="col-2"><input id="btnClose" type="button" class="btn btn-primary btn-block" value="Close" onclick="window.location.href = '/Index'" /></div>
        <div class="col-2"><button id="btnSave" class="btn btn-primary btn-block">Save</button></div>
        <div class="col-2">

            <input type="hidden" asp-for="ProcessId" />
            <button id="btnDone" class="btn btn-primary btn-block" type="button">Done</button>

        </div>
    </div>
</div>

<form id="frmReviewPage" method="post">

    <input type="hidden" asp-for="ProcessId" id="hdnProcessId" />
    <input type="hidden" id="pageIdentity" value="@Model.WorkflowStage.ToString()" />

    <div id="taskInformation"></div>
    <div id="taskInformationError"></div>

    @await Html.PartialAsync("_Operators", Model.OperatorsModel).ConfigureAwait(false)

    <div id="sourceDocuments"></div>
    <div id="sourceDocumentsError"></div>

    <div id="assignTasks"></div>
    <div id="assignTasksError"></div>

    <button id="btnCreateTask" class="btn btn-primary mb-4" type="button"><span style="padding-right: 5px;"></span>Create additional task</button>

    <div id="existingComments"></div>
    <div id="AddCommentError"></div>

</form>

@* Modal On Hold error comment *@
<div class="modal fade" id="OnHoldError" tabindex="-1" role="dialog" aria-labelledby="OnHoldError" aria-hidden="true">
    <div class="modal-dialog error ">
        <div class="modal-content">
            <form id="frmOnHoldError">
                <div class="modal-header">
                    <h3 id="OnHoldErrorTitle">Error</h3>
                </div>
                <div class="modal-body pb-0">
                    <div class="align-items-center align-content-center" style="overflow: hidden;">
                        <p class="mr-2" style="float: left"><i class="fa fa-info-circle"></i></p>
                        <p id="OnHoldErrorMessage"></p>
                    </div>
                    <input type="hidden" asp-for="ProcessId" />
                </div>
                <div class="modal-footer">
                    <div class="row col-11 justify-content-end">
                        <div class="col-5 pr-1"><button type="button" id="btnOnHoldErrorOk" class="btn btn-danger btn-block" accesskey="o" data-dismiss="modal" data-toggle="tooltip" data-placement="left" title="On Hold Error">Ok</button></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@* Modal Add Termination comment *@
<div class="modal fade" id="ConfirmTerminate" tabindex="-1" role="dialog" aria-labelledby="ConfirmTerminate" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="terminatingReview" asp-page-handler="ReviewTerminate" method="post">
                <div class="modal-header">
                    <h4 class="modal-title">Terminate DB Assessment</h4>
                </div>
                <div class="modal-body">
                    <p>Provide a reason for terminating this DB Assessment?</p>
                    <div id="modal-body">
                        <input type="hidden" asp-for="ProcessId" />
                        <textarea style="height: 100px;" id="txtTerminateComment" name="comment" class="form-control"></textarea>
                        <br />
                        <div id="ConfirmTerminateError"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row col-11 justify-content-end">
                        <div class="col-5 pr-1"><button type="button" id="btnCancelTerminate" class="btn btn-outline-secondary btn-block" accesskey="c" data-dismiss="modal" data-toggle="tooltip" data-placement="left" title="Cancel Terminate">Cancel</button></div>
                        <div class="col-5 pl-1 pr-0"><button type="submit" id="btnConfirmTerminate" accesskey="a" class="btn btn-warning btn-block" data-toggle="tooltip" data-placement="left" title="Confirm Terminate">Terminate</button></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modalWaitReviewDone" tabindex="-1" role="dialog" aria-labelledby="modalWait" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span style="margin-right: 10px;" class="fas fa-crosshairs fa-spin"></span> Please Wait</h4>
            </div>
            <div class="modal-body">
                <ul>
                    <li>Verifying Data...</li>
                    <li>Saving Data...</li>
                </ul>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="modalWaitReviewDoneErrors" tabindex="-1" role="dialog" aria-labelledby="ReviewDoneErrors" aria-hidden="true">
    <div class="modal-dialog error ">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Error while saving data</h3>
            </div>
            <div class="modal-body">
                <div class="d-flex align-items-center align-content-center justify-content-center mb-1 mt-n1" style="overflow: hidden;">
                    <div class="col-1 mr-4">
                        <i class="fa fa-info-circle" style="font-size: 1.50rem;"></i>
                    </div>
                    <div id="reviewDoneErrorMessage" class="col-11"></div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row col-11 justify-content-end">
                    <div class="col-5 pr-1"><button type="button" id="btnReviewDoneErrorOk" class="btn btn-danger btn-block" accesskey="o" data-dismiss="modal" data-toggle="tooltip" data-placement="left" title="Error Saving Data">Ok</button></div>
                </div>
            </div>
        </div>
    </div>
</div>