@page
@model Portal.Pages.DbAssessment.ReviewModel
@{
    ViewData["Title"] = "Review";
}

<script type="text/javascript" src="~/js/Review.js"></script>

<div class="row mt-1">
    <div class="col-4">
        <a asp-page="/Index">
            <img id="ukhoLogo" src="~/images/ukhologo.svg" class="img-responsive" alt="UKHO Logo" />
        </a>
    </div>

    <div class="col-8">
        <div class="row pt-2">
            <div class="col-6">
                <div class="float-right">
                    <h1>DB Assessment</h1>
                </div>
            </div>
            <div class="col-6">
                <div class="float-right">
                    <h1>Review</h1>
                </div>
            </div>
        </div>
    </div>

</div>

<hr />

<input type="hidden" id="hdnProcessId" value="@Model.ProcessId" />

<div class="col-12">
    <div class="row justify-content-end btn-size">
        <div class="col-2"><button id="btnPutOnHold" class="btn btn-primary btn-block">Put On Hold</button></div>
        <div class="col-2"><button id="btnTerminate" class="btn btn-primary btn-block">Terminate</button></div>
        <div class="col-2"><input id="btnClose" type="button" class="btn btn-primary btn-block" value="Close" onclick="window.location.href = '/Index'" /></div>
        <div class="col-2"><button id="btnSave" class="btn btn-primary btn-block">Save</button></div>
        <div class="col-2"><button id="btnDone" class="btn btn-primary btn-block">Done</button></div>
    </div>
</div>

@await Html.PartialAsync("_TaskInformation", Model.TaskInformationModel).ConfigureAwait(false)

<div id="sourceDocuments"></div>
<div id="sourceDocumentsError"></div>

<div id="assignTasks"></div>
<div id="assignTasksError"></div>

<button id="btnCreateTask" class="btn btn-primary mb-4"><span style="padding-right: 5px;"></span>Create additional task</button>

<div id="existingComments"></div>
<div id="AddCommentError"></div>

