@page
@model Portal.Pages.DbAssessment.ReviewModel
@{
    ViewData["Title"] = "Review";
}

<script type="text/javascript" src="~/js/Review.js"></script>
<script type="text/javascript" src="~/js/_SourceDocumentDetails.js"></script>

<div class="row mt-1">
    <div class="col-4">
        <a asp-page="/Index">
            <img id="ukhoLogo" src="~/images/ukhologo.svg" class="img-responsive" alt="UKHO Logo" />
        </a>
    </div>

    <div class="col-8">
        <div class="row pt-2">
            <div class="col-6">
                <div class="float-right">
                    <h1>DB Assessment</h1>
                </div>
            </div>
            <div class="col-6">
                <div class="float-right">
                    <h1>Review</h1>
                </div>
            </div>
        </div>
    </div>

</div>

<hr />

<input type="hidden" id="hdnProcessId" value="@Model.ProcessId" />
<form method="post" asp-page-handler="Done">
    <div class="col-12">
        <div class="row justify-content-end btn-size">
            <div class="col-2"><button id="btnPutOnHold" class="btn btn-primary btn-block">Put On Hold</button></div>
            <div class="col-2"><button id="btnTerminate" class="btn btn-primary btn-block">Terminate</button></div>
            <div class="col-2"><input id="btnClose" type="button" class="btn btn-primary btn-block" value="Close" onclick="window.location.href = '/Index'" /></div>
            <div class="col-2"><button id="btnSave" class="btn btn-primary btn-block">Save</button></div>
            <div class="col-2">

                <input type="hidden" asp-for="ProcessId" />
                <button id="btnDone" class="btn btn-primary btn-block" type="submit">Done</button>

            </div>
        </div>
    </div>

    @await Html.PartialAsync("_TaskInformation", Model.TaskInformationModel).ConfigureAwait(false)

    <div id="sourceDocuments"></div>
    <div id="sourceDocumentsError"></div>

    <div id="assignTasks">
        @await Html.PartialAsync("_AssignTask", Model.AssignTaskModel).ConfigureAwait(false)
    </div>
    <div id="assignTasksError"></div>

    <button id="btnCreateTask" class="btn btn-primary mb-4" type="button"><span style="padding-right: 5px;"></span>Create additional task</button>

    <div id="existingComments"></div>
    <div id="AddCommentError"></div>

    @* Modal Add Termination comment *@
    <div class="modal fade" id="ConfirmTerminate" tabindex="-1" role="dialog" aria-labelledby="ConfirmTerminate" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="terminatingReview" asp-page-handler="ReviewTerminate" method="post">
                    <div class="modal-header">
                        <h4 class="modal-title">Terminate DB Assessment</h4>
                    </div>
                    <div class="modal-body">
                        <p>Provide a reason for terminating this DB Assessment?</p>
                        <div id="modal-body">
                            <input type="hidden" asp-for="ProcessId" />
                            <textarea style="height: 100px;" id="txtTerminateComment" name="comment" class="form-control"></textarea>
                            <br />
                            <div id="ConfirmTerminateError"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row col-11 justify-content-end">
                            <div class="col-5 pr-1"><button type="button" id="btnCancelTerminate" class="btn btn-outline-secondary btn-block" accesskey="c" data-dismiss="modal" data-toggle="tooltip" data-placement="left" title="Cancel Terminate">Cancel</button></div>
                            <div class="col-5 pl-1 pr-0"><button type="submit" id="btnConfirmTerminate" accesskey="a" class="btn btn-warning btn-block" data-toggle="tooltip" data-placement="left" title="Confirm Terminate">Terminate</button></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</form>