@page
@model Portal.Pages.DbAssessment.ReviewModel
@{
    ViewData["Title"] = "Review";
}

<h2>Review</h2>

@await Html.PartialAsync("_TaskInformation", new _TaskInformationModel()).ConfigureAwait(false)
@await Html.PartialAsync("_SourceDocumentDetails", new _SourceDocumentDetailsModel()).ConfigureAwait(false)
@await Html.PartialAsync("_AssignTask", new _AssignTaskModel()).ConfigureAwait(false)
@await Html.PartialAsync("_Comments", new _CommentsModel()).ConfigureAwait(false)