@page
@model Portal.Pages.DbAssessment.ReviewModel
@{
    ViewData["Title"] = "Review";
}

<div class="row" style="padding-top: 5px">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4">
        <img id="ukhoLogo" src="~/images/ukhologo.svg" class="img-responsive" alt="UKHO Logo" />
    </div>

    <div class="col-lg-9 col-md-8 col-sm-8 col-xs-8">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="pull-right">
                    <h1>DB Assessment</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="pull-right"><h1>Review</h1></div>
                </div>
            </div>
    </div>

</div>

<h2>Review</h2>


<div class="panel-group" id="accordion">
    @await Html.PartialAsync("_TaskInformation", Model.TaskInformationModel).ConfigureAwait(false)
    @await Html.PartialAsync("_SourceDocumentDetails", new _SourceDocumentDetailsModel()).ConfigureAwait(false)
    @await Html.PartialAsync("_AssignTask", new _AssignTaskModel()).ConfigureAwait(false)
    @await Html.PartialAsync("_Comments", new _CommentsModel()).ConfigureAwait(false)
</div>