@page
@model Portal.Pages.DbAssessment.VerifyModel
@{
    ViewData["Title"] = "Verify";
}

<script type="text/javascript" src="~/js/Verify.js" asp-append-version="true"></script>
<script type="text/javascript" src="~/js/TaskInformation.js" asp-append-version="true"></script>
<script type="text/javascript" src="~/js/_SourceDocumentDetails.js" asp-append-version="true"></script>
<script type="text/javascript" src="~/js/LaunchCarisModal.js" asp-append-version="true"></script>
<script type="text/javascript" src="~/js/EditDatabase.js" asp-append-version="true"></script>
<script type="text/javascript" src="~/js/RecordProductAction.js" asp-append-version="true"></script>
<script type="text/javascript" src="~/js/DataImpact.js" asp-append-version="true"></script>
<script type="text/javascript" src="~/js/Comments.js" asp-append-version="true"></script>

<div class="row mt-1">
    <div class="col-4">
        <a asp-page="/Index">
            <img id="ukhoLogo" src="~/images/ukhologo.svg" class="img-responsive" alt="UKHO Logo" />
        </a>
    </div>

    <div class="col-8">
        <div class="row pt-2">
            <div class="col-6">
                <div class="float-right">
                    <h1 class="workflow-page-heading">
                        <span>Database Assessment</span>
                        @if (Model.IsReadOnly)
                        {
                            <br /><span class="red">Historical Task</span>
                        }
                    </h1>
                </div>
            </div>
            <div class="col-6">
                <div class="float-right">
                    <h1>Verify</h1>
                </div>
            </div>
        </div>
    </div>

</div>

<hr />


<div class="col-12">
    <div class="row justify-content-end btn-size">
        @if (Model.IsReadOnly)
        {
            <div class="col-2"><input id="btnClose" type="button" class="btn btn-primary btn-block" value="Close" onclick="window.location.href = '/DbAssessment/HistoricalTasks'" /></div>
        }
        else
        {
            <div class="col-2"><button id="btnReject" class="btn btn-primary btn-block">Reject</button></div>
            <div class="col-2"><input id="btnClose" type="button" class="btn btn-primary btn-block" value="Close" onclick="window.location.href = '/Index'" /></div>
            <div class="col-2"><button id="btnSave" class="btn btn-primary btn-block">Save</button></div>
            <div class="col-2">

                <input type="hidden" asp-for="ProcessId" />
                <button id="btnDone" class="btn btn-primary btn-block" type="button">Sign Off</button>

            </div>
        }

    </div>
</div>

<input type="hidden" asp-for="SerialisedCustomHttpStatusCodes" />

<form id="frmVerifyPage" method="post" asp-page-handler="Done">
    <fieldset>
        <input type="hidden" id="hdnProcessId" value="@Model.ProcessId" />
        <input type="hidden" asp-for="ProcessId" />
        <input type="hidden" asp-for="IsReadOnly" />
        <input type="hidden" id="pageIdentity" value="@Model.WorkflowStage.ToString()" />

        <div id="taskInformation"></div>
        <div id="taskInformationError"></div>

        @await Html.PartialAsync("_Operators", Model.OperatorsModel).ConfigureAwait(false)

        <div id="sourceDocuments"></div>
        <div id="sourceDocumentsError"></div>

        <div id="editDatabase"></div>
        <div id="editDatabaseError"></div>

        <div id="recordProductAction"></div>
        <div id="recordProductActionError"></div>

        <div id="existingDataImpacts"></div>
        <div id="AddDataImpactsError"></div>

        <div id="existingComments"></div>
        <div id="AddCommentError"></div>
    </fieldset>
</form>

@* Modal On Hold error comment *@
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="OnHoldError" tabindex="-1" role="dialog" aria-labelledby="OnHoldError" aria-hidden="true">
    <div class="modal-dialog error ">
        <div class="modal-content">
            <form id="frmOnHoldError">
                <div class="modal-header">
                    <h3 id="OnHoldErrorTitle">Error</h3>
                </div>
                <div class="modal-body pb-0">
                    <div class="align-items-center align-content-center" style="overflow: hidden;">
                        <p class="mr-2" style="float: left"><i class="fa fa-info-circle"></i></p>
                        <p id="OnHoldErrorMessage"></p>
                    </div>
                    <input type="hidden" asp-for="ProcessId" />
                </div>
                <div class="modal-footer">
                    <div class="row col-11 justify-content-end">
                        <div class="col-5 pr-1"><button type="button" id="btnOnHoldErrorOk" class="btn btn-danger btn-block" accesskey="o" data-dismiss="modal" data-toggle="tooltip" data-placement="left" title="On Hold Error">Ok</button></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@* modal popup used when Sign-off, Save, and Reject *@
<div class="modal fade" id="modalVerifyPopup" tabindex="-1" role="dialog" aria-labelledby="modalVerifyPopup" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Signing off task</h4>
            </div>
            <div class="modal-body">
                @* Wait dialog *@
                <section id="modalVerifyWait" class="dialog collapse">
                    <h5><span style="margin-right: 10px;" class="fas fa-crosshairs fa-spin"></span> Please Wait</h5>
                    
                    <div id="modalVerifyWaitMessage"></div>
                </section>

                @* Errors dialog *@
                <section id="modalVerifyErrors" class="dialog error collapse">
                    <h5>Errors while processing task</h5>

                    <div class="d-flex align-items-center align-content-center justify-content-center" style="overflow: hidden;">
                        <div class="col-1 p-0">
                            <i class="fa fa-info-circle" style="font-size: 1.50rem"></i>
                        </div>

                        <div id="modalVerifyErrorMessage"></div>

                    </div>
                    <hr />
                    <div class="row justify-content-end">
                        <div class="col-4 pr-1"><button type="button" id="btnVerifyErrorsOk" class="btn btn-danger btn-block" accesskey="o" data-dismiss="modal" data-toggle="tooltip" data-placement="left" title="Error Saving Data">Ok</button></div>
                    </div>

                </section>

                @* Warnings dialog *@
            <section id="modalVerifyWarnings" class="dialog warning collapse">
                <h5>Warnings while processing task</h5>
                <div>
                    <div class="d-flex align-items-center align-content-center justify-content-center" style="overflow: hidden;">
                        <div class="col-1 p-0">
                            <i class="fa fa-info-circle" style="font-size: 1.50rem;"></i>
                        </div>

                        <div id="modalVerifyWarningMessage"></div>
                    </div>
                </div>

                <div>
                    <h6 class="pt-1 m-0">Continue signing off task?</h6>
                </div>
                <hr />
                <div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="col-4 float-left"><button type="button" id="btnVerifyWarningCancel" class="btn btn-outline-secondary btn-block" accesskey="c" data-dismiss="modal" data-toggle="tooltip" data-placement="left" title="Cancel Sign Off">Cancel</button></div>
                                <div class="col-4 float-right"><button type="button" id="btnVerifyWarningContinue" accesskey="a" class="btn btn-warning btn-block" data-toggle="tooltip" data-placement="left" title="Confirm Sign Off">Sign Off</button></div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
            </div>
        </div>
    </div>
</div>

@* Modal Add Rejection comment *@
<div class="modal fade" id="ConfirmReject" tabindex="-1" role="dialog" aria-labelledby="ConfirmReject" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Reject Database Assessment</h4>
            </div>
            <div class="modal-body">
                <p>Provide a reason for rejecting this Database Assessment</p>
                <div id="modal-body">
                    <textarea style="height: 100px;" id="txtRejectComment" name="comment" class="form-control"></textarea>
                    <br />
                    <div id="ConfirmRejectError"></div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row col-11 justify-content-end">
                    <div class="col-5 pr-1"><button type="button" id="btnCancelReject" class="btn btn-outline-secondary btn-block" accesskey="c" data-dismiss="modal" data-toggle="tooltip" data-placement="left" title="Cancel Reject">Cancel</button></div>
                    <div class="col-5 pl-1 pr-0"><button type="button" id="btnConfirmReject" accesskey="a" class="btn btn-warning btn-block" data-toggle="tooltip" data-placement="left" title="Confirm Reject">Reject</button></div>
                </div>
            </div>
        </div>
    </div>
</div>

@* Unsaved changes *@
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="modalVerifyUnsavedChangesErrors" tabindex="-1" role="dialog" aria-labelledby="VerifyUnsavedChangesErrors" aria-hidden="true">
    <div class="modal-dialog error ">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Errors while processing task</h3>
            </div>
            <div class="modal-body">
                <div class="d-flex align-items-center align-content-center justify-content-center mb-1 mt-n1" style="overflow: hidden;">
                    <div class="col-1 mr-4">
                        <i class="fa fa-info-circle" style="font-size: 1.50rem;"></i>
                    </div>
                    <div id="verifyErrorMessage" class="col-11"></div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row col-11 justify-content-end">
                    <div class="col-5 pr-1"><button type="button" id="btnVerifyDoneErrorOk" class="btn btn-danger btn-block" accesskey="o" data-dismiss="modal" data-toggle="tooltip" data-placement="left" title="Error Saving Data">Ok</button></div>
                </div>
            </div>
        </div>
    </div>
</div>

@* Modal for warning for progressing *@
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="modalVerifyProgressWarning" tabindex="-1" role="dialog" aria-labelledby="ProgressWarning" aria-hidden="true">
    <div class="modal-dialog warning">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Sign-off Verify task.</h3>
            </div>
            <div class="modal-body">
                <div class="d-flex align-items-center align-content-center justify-content-center mb-1 mt-n1" style="overflow: hidden;">
                    <div class="col-1 mr-4">
                        <i class="fa fa-info-circle" style="font-size: 1.50rem;"></i>
                    </div>
                    <div class="col-11">
                        <ul><li>Are you sure you want to continue?</li></ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="col-4 float-left"><button type="button" id="btnCancelVerifyProgressWarning" class="btn btn-outline-secondary btn-block" accesskey="c" data-dismiss="modal" data-toggle="tooltip" data-placement="left" title="Cancel Progress Verify">Cancel</button></div>
                                <div class="col-4 float-right"><button type="button" id="btnContinueVerifyProgress" accesskey="a" class="btn btn-warning btn-block" data-toggle="tooltip" data-placement="left" title="Continue Progress Verify">Continue</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>