@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <a asp-page="./Index">
        <img id="ukhoLogo" src="images/ukhologo.svg" alt="UKHO Logo" />
    </a>
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>Remove</div>