/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */


body {
    padding-bottom: 10px;
    color: #333333;
    font-family: 'JohnstonITC', Helvetica, sans-serif;
    font-size: 16px;
    line-height: 14px;
    font-weight: 300;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 1370px;
    }
}

@media (min-width: 1600px) {
    .container {
        width: 1570px;
    }
}

table.task-list thead tr th {
    white-space: nowrap;
    text-align: center;
}

.right-inner-addon {
    position: relative;
}

.right-inner-addon input {
        padding-right: 30px;
}

.right-inner-addon i {
        position: absolute;
        right: 0px;
        padding: 10px 12px;
        pointer-events: none;
}

.well.landingpagefooter {
    background-color: #337ab7;
    color: white;
    padding: 15px 19px 15px 19px;
}

.well.landingpagefooter p {
    margin: 0px;
}

.form-row {
    margin: 1.0em 0;
}


#inFlightTasks.table-striped > tbody > tr.even,
#inFlightTasks.table-striped > tbody > tr.even + tr {
    background-color: #ffffff;
}

#inFlightTasks.table-striped > tbody > tr.odd,
#inFlightTasks.table-striped > tbody > tr.odd + tr {
    background-color: #f9f9f9;
}

#inFlightTasks.table-striped > tbody > tr > td.note-formatting {
    padding: 5px 0px 10px 15px;
}

.red {
    color: red;
}

.amber {
    color: orange;
}

.black {
    color: black;
}

.panel {
    overflow: auto;
}

.deleteAssignTask{}

.btn-size > div {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    max-width: 8.8rem;
}

.btn-primary {
    color: #fff;
    background-color: #09315B;
    border-color: #09315B;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: unset;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: #09315B;
    background-color: #ffffff;
    border-color: #09315B;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: unset;
}

label {
    font-weight: 500;
}

.navbar-header {
    visibility: hidden;
}

.btn {
    border: 2px solid #09315B;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
}

h1, .h1 {
    font-size: 2.1rem;
}

h2, .h2 {
    font-size: 1.6rem;
}

.card .close-x {
    font-size: 2rem;
    cursor: pointer;
}

.card > h6 {
    height: 45px;
    line-height: 45px;
    padding: 0 15px;
}

table thead {
    border-bottom: 5px solid #09315B;
}
table th {
    border-bottom: 5px solid #09315B;
    text-align: left;
    font-weight: normal;
}
table td {
    border-right: 1px solid #d8d8d8;
    font-weight: 300;
}

table > tbody > tr > th {
    font-weight: 300;
    border-bottom: unset;
}

.attachLinkedDocumentSpinnerContainer {
    width: 68px;
}

.attachLinkedDocumentButtonContainer .fa.fa-paperclip,
.attachLinkedDocumentSpinnerContainer .fa.fa-paperclip {
    color: #09315B;
    font-size: 24px;
}

.attachLinkedDocumentSpinnerContainer .fa.fa-paperclip {
    position: relative;
    bottom: 34px;
    left: 11px;
}

.attachLinkedDocumentSpinnerContainer .spinner-border {
    color: #09315B;
    width: 2.75em;
    height: 2.75em;
}

.custom-control-label::before, .custom-control-label::after {
    right: 0;
}

label span {
    position: absolute;
    right: 21px;
}