<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
            <Format>json,cobertura</Format>
              <Exclude>[DataServices.*]*,[Common.Helpers*]*,[Common.Messages*]*,[HpdDatabase.*]*,[WorkflowDatabase.*]*</Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>