<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NCNE Portal</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.css">
        <link rel="stylesheet" href="~/lib/bootstrap4/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.css" />
        <link rel="stylesheet" href="~/lib/datatables/css/dataTables.bootstrap4.css" />
        <link rel="stylesheet" href="~/css/fonts.css" />
        <link rel="stylesheet" href="~/css/ukho-styles/cards.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css">
        <link rel="stylesheet" href="~/lib/bootstrap4/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/datatables/css/dataTables.bootstrap4.min.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.min.css" />
        <link rel="stylesheet" href="~/css/fonts.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/ukho-styles/cards.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    <environment include="Development">
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/popper.js/umd/popper.js"></script>
        <script src="~/lib/typeahead.js/typeahead.bundle.js"></script>
        <script src="~/lib/bootstrap4/dist/js/bootstrap.js"></script>
        <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
        <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
        <script src="~/lib/datatables/js/dataTables.bootstrap4.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/popper.js/umd/popper.min.js"></script>
        <script src="~/lib/typeahead.js/typeahead.bundle.min.js"></script>
        <script src="~/lib/bootstrap4/dist/js/bootstrap.min.js"></script>
        <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
        <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
        <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)


</head>
<body>
<partial name="_CookieConsentPartial" />

<div class="d-flex flex-column sticky-footer-wrapper">
    <div class="container body-content flex-fill">
        @RenderBody()
    </div>
    <footer>&copy; Crown copyright 2020 UK Hydrographic Office</footer>
</div>
</body>
</html>
